<%= stylesheet_link_tag 'widgEditor' %>
<%= javascript_include_tag "widgEditor" %>
<br /><div align="center">
<h3>Edit</h3>

<% form_for(@content_management) do |f| %>
  <%= f.error_messages %>
   <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
</div>

