<h1><%='Change Password'%></h1>
<table>
<% form_tag :action => 'change_password' do |f| %>
<%= error_messages_for 'user'%>
<tr>
	<td><label for="old_password"><%= 'Old Password'%></label></td>
	<td>:</td>
  <td><%= password_field_tag 'old_password'%></td>
</tr>
<tr>
	<td><label for="password" ><%= 'New Password' %></label></td>
	<td>:</td>
  <td><%= password_field_tag :password %></td>
</tr>
<tr>
	<td><label for="password_confirmation"><%= 'Confirm Password' %></label></td>
	<td>:</td>
  <td><%= password_field_tag :password_confirmation %></td>
</tr>
<tr>
	<td colspan="3" align="center"><%= submit_tag 'Change Password'%></td>
</tr>
<% end %>
</table>

