&nbsp;
<% unless @interesting_links.blank? %>
<div align="center">
<div class='button'><%= link_to 'New link', new_interesting_link_path if current_user and current_user.is_admin? %></div>
<br />
<h3>Links</h3>

<div class="white_bordered_div">
<table align="center">


<% @interesting_links.each do |link| %>
  <tr>



    <td class="table-left-aligned">
      <h3><%=  link.name %></h3>
      <%= link.description %><br />
       <% if current_user and current_user.is_admin? %>
      <%= link_to image_tag('edit.png'), edit_interesting_link_path(link) %>
      <%= link_to image_tag('delete.png'), link, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <hr />
    </td>
  </tr>
<% end %>
</table>
</div>
<br />
</div>
<% else %>
        <div class="white_bordered_div">
        <h4>No Records </h4>
        </div>
<% end %>

