&nbsp;
<div class='button'><%= link_to 'New link', new_interesting_link_path if current_user and current_user.is_admin? %></div>


  <div align="center">
    <br />
    <h3>Some interesting links</h3>

      <div class="white_bordered_div">
        <table align="center">
            <tr><td>
                  <%= link_to image_tag('facebook.png'), "http://www.facebook.com"%>
                  <%= link_to image_tag('twitter.png'), "http://www.twitter.com"%>
                  <%= link_to image_tag('geni.png'), "http://www.geni.com"%>
              <br />
            </td></tr>

            <% unless @interesting_links.blank? %>

                <% @interesting_links.each do |link| %>
                <tr>
                  <td class="table-left-aligned">
                    <h3><a href='<%= "#{link.name}"%>'> <%=link.name%></a></h3>
                    <%= link.description %></a><br />
                     <% if current_user and current_user.is_admin? %>
                    <%= link_to image_tag('edit.png'), edit_interesting_link_path(link) %>
                    <%= link_to image_tag('delete.png'), link, :confirm => 'Are you sure?', :method => :delete %>
                    <% end %>
                    <hr />
                  </td>
                </tr>
                <% end %>
            <% end %><!-- END OF % unless @interesting_links.blank? %-->


        </table>
      </div><!-- END OF div class="white_bordered_div"-->
      <br />
</div>

