<div class="button"><%= link_to 'All',galleries_path %></div>
<div align="center">
<h3>New gallery</h3>

<%= form_for @gallery, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create',:class=>'button_new' %>
  </p>
<% end %>
</div>
<%#= link_to 'Back', galleries_path %>

