<br />

<div align="center">
<h3>New family</h3>
<table align="center">
<% form_for @family, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <tr>
    <td><%= f.label :name %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :short_description %>:</td>
    <td><%= f.text_field :short_description %></td>
  </tr>
  <tr>
    <td><%= f.label :long_description %>:</td>
    <td><%= f.text_area :long_description,:size=>'34x5' %></td>
  </tr>
  <tr>
    <td><%= f.label 'Upload Photo' %></td>
    <td>  <%= f.file_field :photo%>
 </td>
</tr>
 <tr><td colspan="2" align="center"><%= f.submit 'Create',:class=>'button_new' %>
 </td></tr>
<% end %>
</table>
</div>
<%#= link_to 'Back', families_path %>

