<table align="center">
<tr>
  <td><%= form.label :email %></td>
  <td><%= form.text_field :email %></td>
</tr>

<tr>
  <td><%= form.label :is_admin %></td>
  <td><%= form.check_box :is_admin%>
  <%= form.hidden_field :created_by,:value=>current_user.id %>
  </td>
</tr>
</table>

