



<div align="center">
      <div style="width:600px;">
      <% form_tag do %>
      <div style="float:left; text-align:center;width:400px;">
          <div align="center" style="width:380px;">
              <% @committee_members.each do |member| %>
                      <div style="float:left;width:90px;border:solid white 5px;margin:3px;"><%= display_photo_of_member(member,member.name,"80px;")%></div>
                      <div style="float:left;width:250px;text-align:left;padding-left:10px;">
                      <%= member.name %><br />
                            <% unless member.posts.nil?
                                  member.posts.each do |post| %>
                                      <%= post.name%>
                                  <% end
                            end %><br />

                      <%= check_box_tag 'member_id[]',member.id %>
                      </div>
                      <div style="clear:both;"></div>
              <% end %>
          </div>
          <div style="clear:both;"></div>
          <% unless @admin.nil? %>
          <div align="center" style="width:380px;">
              <div style="float:left;width:90px;border:solid white 5px;">
                <%= display_photo_of_member(@admin,"Admin","80px;")%>
              </div>
              <div style="float:left;width:250px;text-align:left;padding-left:10px;">
                  Admin<br />
                  Web Administrator <br />
                  <%= check_box_tag 'member_id[]',@admin.id %>
              </div>
          </div>
          <% end %>
      </div>

      <div style="width:100px;float:left;border:none;">
          <table>
          <tr><td>Message</td><td> <%= text_area_tag 'msg',params[:msg],:size=>"40x10" %></td></tr>
          <tr><td>Name</td><td><%= text_field_tag :name,params[:name]%></td></tr>
          <tr><td>Email</td><td><%= text_field_tag :email,params[:email] %></td></tr>
          <tr><td colspan="2"><%= show_simple_captcha(:distortion=>'high') %></td></tr>
          </table><br />
          <div class="button"><%= submit_tag 'Send',:name=>'send' %></div>
      </div>

      <% end %>
      </div>
</div>



<div style="clear:both;"></div>


<br />
<br />
<br />

