<%# if current_user %>

 <%= link_to (image_tag "/images/menu/mnu_home" + ((@current_controller=='home') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_home0.png"),root_url %>
       <%= link_to (image_tag "/images/menu/mnu_families" + ((@current_controller=='families') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_families0.png"),families_path %>

  <% unless Gallery.find(:first,:conditions=>['public=?',true]).nil? %>
  <div id="gallery">
       <%= link_to (image_tag "/images/menu/mnu_gallery" + ((@current_controller=='galleries') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_gallery0.png"),Gallery.find(:first,:conditions=>['public=?',true]).photo.url(:thumb) %>
    <%= render :partial=>'galleries/list_of_images',:locals => {:id => Gallery.find(:first,:conditions=>['public=?',true]).id }%>
      </div>
  <% else %>
  <%= link_to (image_tag "/images/menu/mnu_gallery" + ((@current_controller=='galleries') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_gallery0.png"),galleries_path %>
  <% end %>


       <%= link_to (image_tag "/images/menu/mnu_events" + ((@current_controller=='events') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_events0.png"),events_path %>
       <%= link_to (image_tag "/images/menu/mnu_directory" + ((@current_controller=='directories') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_directory0.png"),members_path %>
       <%= link_to (image_tag "/images/menu/mnu_search" + ((@current_controller =='search') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_search0.png"),"#" %>
       <%= link_to (image_tag "/images/menu/mnu_profile" + ((@current_controller=='members') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_profile0.png"),"#" %>
       <%= link_to (image_tag "/images/menu/mnu_members" + ((@current_controller=='members') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_members0.png"),members_path %>

    <% if current_user %>
      <%# unless Member.find(:first,:conditions=>['user_id = ?',current_user.id]).nil? %>

      <%#= link_to (image_tag "/images/menu/mnu_profile" + ((@current_controller=='members') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_profile0.png"),edit_member_path(Member.find(:first,:conditions=>['user_id = ?',current_user.id]).id) %>
      <%# else %>
      <%#= link_to (image_tag "/images/menu/mnu_profile" + ((@current_controller=='users') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_profile0.png"),edit_user_path(current_user) %>
      <%# end %>
     <%= link_to (image_tag "/images/menu/mnu_logout" + ((@current_controller=='user_sessions') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_logout0.png"),logout_path%>
     <% else %>
      <%= link_to (image_tag "/images/menu/mnu_login" + ((@current_controller=='user_sessions') ? "0" : "") + ".png", :mouseover => "/images/menu/mnu_login0.png"),login_path%>
    <% end %>

