<%uri=request.request_uri -%>
<div class="menu_left"></div>

 <div class="mnu"><%= link_to "Home",root_url -%></div><div class="menu_separator"></div>
 <div class="mnu"><%= link_to "Family Tree",family_tree_path-%></div><div class="menu_separator"></div>
 <div class="mnu_active"><%= link_to "Events",events_path-%></div><div class="menu_separator"></div>
 <div class="mnu"><%= link_to "Gallery",galleries_path-%></div><div class="menu_separator"></div>


 <div class="mnu"><%= link_to "Members",members_path-%></div><div class="menu_separator"></div>



<%- if current_user -%>
            <!--div class="mnu"--><%#= link_to image_tag "Members", members_path -%><!--/div><div class="menu_separator"></div -->

            <% if current_user.member -%>
                  <div class="mnu"><%= link_to "Profile",edit_member_path(current_user.member.id) -%></div>
            <% else -%>
                  <div class="mnu"><%= link_to "Profile",edit_user_path(current_user)-%></div>
            <% end -%>
            <div class="menu_separator"></div>

<%- end -%>

<div class="menu_right"></div>

