<%= stylesheet_link_tag "default" ,"alphacube"%>
  <%= javascript_include_tag  "window" %>
<script type="text/javascript">
function win1(news)
{

  var win = new Window({id: "win1", className: "alphacube",title:'Important', width:380, height:150, top:0, left: 1, parent:$('container')});
  win.getContent().innerHTML = "<p>" + news +"</p>";
win.setDestroyOnClose();
  win.show();
  win.setConstraint(true, {left:10, right:20})
  win.toFront();

}




</script>
<style>


#container {
  position:absolute;
  top:300px;
  left:200px;
  width:380px;
  height:100px;
  z-index:auto;
}
</style>
 <div id="container"></div>
<% if @news  and !cookies[:display]
cookies[:display] = {:value => 'true',
   :expires => 1.hours.from_now } %>
<script>
 win1(<%="'#{@news.description}'"%>);
</script>
<%end%>



<!--div id="home_page_description"-->
<div id="home_page_description_container">
  <div id="home_page_description">
        <p style="text-align:justify;"><%= @content_management.description[0..@content_management.no_of_chars] %>
        <!--The history of the Mannekattil Family had its roots on the soil of Kerala occupying a major position in Kerala history. This family has grown and spread from the fertile banks of the holy river Pamba which flows along the famous Parthasarathy temple of Aranmula in the Pathanamthitta district. So from the very origin of this family, it had some secular qualities and has close association with Hinduism. Sri. Iruppootty was the first known person of this family and the history of this family begins from that starting point. He was a magnanimous personality and had influence over the administration and day to day activities of Aranmula temple. This influence had continued between A.D 1660 and 1740. His high handed influence and authority over the administrative matters of Aranmula temple made him popular among the people.--><%= link_to 'read more ...',:controller=>'home',:action=>'detailed_content' %>
        </p>
  </div>
  <div id="news_container"><%= render :partial=>'news_items/news_list.html.erb' %></div>
</div>
<!-- /div--><!-- END OF home page text -->

    <!--div id="news_container"><%= render :partial=>'news_items/news_list.html.erb' %></div-->
    <div style="clear:both;"></div>
    <div id="events_container" ><%= render :partial=>'events/event_list.html.erb' %></div>
    <div id="right_menu_container"><%= link_to '&nbsp;&nbsp;&nbsp;Committee Members',:controller=>'members',:action=>'committee_members' %></div>
    <% if current_user and current_user.is_admin %>
      <div id="right_menu_container1">   <%= link_to '&nbsp;&nbsp;&nbsp;Content Management' ,content_managements_path %></div>
      <div id="right_menu_container2">   <%= link_to '&nbsp;&nbsp;&nbsp;Edit Families' ,families_path %></div>
    <% end %>


    <div id="family_container"><%= render :partial=>'families/family_list.html.erb' %></div>





<div style="clear:both;">&nbsp;</div>

