<div class="button"><%= link_to 'All', events_path%></div>
<div align="center">
<h3>Editing event</h3>
<table align="center">
<% form_for @event, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <tr>
    <td>Title</td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td>Event Date</td>
    <td><%= f.date_select(:event_date, :order => [:month, :day,:year]) %></td>
   </tr>
    <tr>
  <td><%= f.label :tags %></td>
  <td><%#= form.text_field :tags %>
  <%= text_field_with_auto_complete :event, :tags %>
  </td>
</tr>
  <% f.fields_for :event_uploads do |photo_form| %>
  <tr>
    <td>Image1</td>
    <td><%= photo_form.file_field :photo %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2" align="center"><%= f.hidden_field :user_id %><%= f.submit 'Update',:class=>'button_new' %></td>
  </tr>
<% end %>
</table>
</div>

