&nbsp;<div align="center">
<div align="right"><%= link_to 'New event', new_event_path,:class=>'button' if current_user %></div>
<% unless @events.blank? %>
<h3>Events</h3>


<table align="center">
  <tr>
  <!-- th>Title</th><th>Description</th><th>Date</th><th>Image</th -->
  </tr>

<% @events.each do |event| %>
  <tr>


    <% @upload = event.event_uploads.first %>
    <td>
      <%unless @upload.nil? %>
          <%= link_to (image_tag @upload.photo.url(:thumb)),event_path(event) %>
         <% else %>
         'No Image'
         <% end %>
    </td>

    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

    <td>
      <%= link_to event.title,event_path(event) %><br />
      <%= event.description %><br />
      <%= event.event_date %><br /><br />
      <% if current_user and (current_user.id == event.user_id) %>
      <%= link_to image_tag('edit.png'), edit_event_path(event) %>
      <%= link_to image_tag('delete.png'), event, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>

    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />
</div>
<% else %>
<h4>No Records </h4>
<% end %>

