&nbsp;<div class="page_container">
<h3>Events</h3>
<%= link_to 'New event', new_event_path, :class => "right_menu" %>
<table align="center">
  <tr>
  <!-- th>Title</th><th>Description</th><th>Date</th><th>Image</th -->
  </tr>

<% @events.each do |event| %>
  <tr>


    <% @upload = event.event_uploads.first %>
    <td>
      <%unless @upload.nil? %>
          <%= link_to (image_tag @upload.photo.url(:thumb)),event_path(event) %>
         <% else %>
         'No Image'
         <% end %>
    </td>

    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

    <td>
      <%= link_to event.title,event_path(event) %><br />
      <%= event.description %><br />
      <%= event.event_date %><br /><br />
      <%= link_to image_tag('edit.png'), edit_event_path(event) %><%= link_to image_tag('delete.png'), event, :confirm => 'Are you sure?', :method => :delete %>
    </td>

    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />
</div>

