&nbsp;<div align="center">
<div class='button'><%= link_to 'New event', new_event_path if current_user %></div>
<% unless @events.blank? %>
<h3>Events</h3>


<table align="center">


<% @events.each do |event| %>
  <tr>
    <% @upload = event.event_uploads.first %>
    <td>
      <%unless @upload.nil? %>
          <%= link_to (image_tag @upload.photo.url(:thumb)),event_path(event) %>
         <% else %>
         'No Image'
         <% end %>
    </td>

    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

    <td class="table-left-aligned">
      <h3><%= link_to event.title,event_path(event) %></h3>
      <%= event.description[0..50] %><br />
      <%= event.event_date %><br /><br />
      <% if current_user and (current_user.id == event.user_id) %>
      <%= link_to image_tag('edit.png'), edit_event_path(event) %>
      <%= link_to image_tag('delete.png'), event, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <hr />
    </td>
  </tr>
<% end %>
</table>

<br />
</div>
<% else %>
<h4>No Records </h4>
<% end %>

