<div align="left" style="float:left;">
<% @prev = Event.find(:first,:conditions=>['id != ? and created_at < ?',@event.id,@event.created_at]) %>
<%= link_to 'Prev', event_path(@prev.id),:class=>'button_new' if @prev %>
<% @next = Event.find(:first,:conditions=>['id != ? and created_at > ?',@event.id,@event.created_at]) %>
<%= link_to 'Next', event_path(@next.id),:class=>'button_new' if @next %>
</div>
<div class="button"><%= link_to 'Back',events_path %></div>


<div  class="family_show" style="margin-left:300px;">

    <div style="float:left;">
      <% @upload = @event.event_uploads.first %>
    <%unless @upload.nil? %><p><%= image_tag @upload.photo.url(:small)%></p><% end %>
    </div>



    <div class="family_show_description">
      <h2><%= @event.title %></h2>
      <%= @event.event_date %><br />
      <%= @event.description %>
      <hr />
    </div>


</div>

