<div align="left" style="float:left;">
<% @prev = Event.find(:first,:conditions=>['id != ? and created_at < ?',@event.id,@event.created_at]) %>
<%= link_to 'Prev', event_path(@prev.id),:class=>'button_new' if @prev %>
<% @next = Event.find(:first,:conditions=>['id != ? and created_at > ?',@event.id,@event.created_at]) %>
<%= link_to 'Next', event_path(@next.id),:class=>'button_new' if @next %>
</div>
<div class="button"><%= link_to 'All',events_path %></div>


<div  class="family_show" style="margin-left:300px;">

    <div style="float:left;">
      <% @upload = @event.event_uploads.first%>
    <%unless @upload.nil? %>

      <p>
      <div id="gallery">

          <%= link_to image_tag(@upload.photo.url(:small)),@upload.photo.url(:original)%><br />

      </div>

     </p>
    <% else %>
    <%= image_tag ('no_image.jpg') %>

    <% end %>
    </div>



    <div class="family_show_description">
      <h2><%= @event.title %></h2>
      <%= @event.event_date.strftime("%d/%m/%Y") %><br />
      <%= @event.description %>
      <hr />
      <%unless @upload.nil? %>
        <%= link_to_remote "[Delete this image]",
    :url => { :action => "delete_image", :id => @upload.id }  %>
    <% end %>
    </div>


</div>

