<div align="center">
<h3>Edit</h3>
<table align="center">
<% form_for @news_item ,:html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
<tr>
    <td>Title</td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= f.date_select(:news_date, :order => [:month, :day,:year]) %></td>
   </tr>
   <tr>
    <td><%= f.label "Tags" %></td>
    <td><%= f.text_field :tags %>
  </td>
  </tr>
  <tr>
    <td><%= f.label 'Very Important?' %></td>
    <td><%= f.check_box :display_on_home_page %>
  </td>
  </tr>
  <% f.fields_for :news_uploads do |photo_form| %>
  <tr>
    <td>Upload photo</td>
    <td><%= photo_form.file_field :photo %></td>
  </tr>

  <% end %>
  <% if current_user and current_user.is_admin? %>
  <tr>
    <td>Make obsolete</td>
    <td><%= f.check_box :obsolete %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2" align="center"><%= f.submit 'Update' %><%= f.hidden_field :user_id,:value=>@news_item.user_id %></td>
  </tr>
<% end %>
</table>
</div>

