<div align="center">
<h3>News</h3>

<table align="center">
  <tr>
  <th>Title</th><th>Description</th><th>Date</th><th>Image</th>
  </tr>

<% @news_items.each do |news_item| %>
  <tr>
    <td><%= news_item.title %></td>
    <td><%= news_item.description %></td>
    <td><%= news_item.news_date %></td>
    <% @upload = news_item.news_uploads.first %>
    <td><%unless @upload.nil? %>
          <%= image_tag @upload.photo.url(:thumb) %>
         <% else %>
         'No Image'
         <% end %>
    </td>
    <% if current_user and current_user.is_admin %>
    <td><%= link_to image_tag('edit.png'), edit_news_item_path(news_item) %></td>
    <td><%= link_to image_tag('delete.png'), news_item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
</div>
<%= link_to 'New news_item', new_news_item_path %>

