<br /><div align="center">
<h3>News</h3>
<table align="center">
<% form_for @news_item ,:html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
<tr>
    <td>Title</td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= f.text_field :description %></td>
  </tr>
   <tr>
    <td>Date</td>
    <td><%= f.date_select(:news_date, :order => [:month, :day,:year]) %></td>
   </tr>
   <tr>
    <td><%= f.label "Tags" %></td>
    <td><%= f.text_field :tags %>
  </td>
  </tr>
  <tr>
    <td><%= f.label 'Very Important?' %></td>
    <td><%= f.check_box :display_on_home_page %>
  </td>
  </tr>
  <% f.fields_for :news_uploads do |photo_form| %>
  <tr>
    <td>Image</td>
    <td><%= photo_form.file_field :photo %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2" align="center"><%= f.submit 'Create',:class=>'button_new' %> &nbsp;&nbsp;<%= link_to 'Back', news_items_path,:class=>'button_new'%>
    <%= f.hidden_field :user_id,:value=>current_user.id %>
    </td>
  </tr>
<% end %>
</table>
</div>

