<br />
<!--div style="width:50%;text-align:center;margin-left:auto;">
  <div style="width:400px;margin:auto;text-align:center;"-->
<div class="clear"></div>
<div style="text-align:center;margin:auto;width:100%;">
        <table style="text-align:center;margin:auto;">
          <tr>
            <td>
              <% @upload = @news_item.news_uploads.first %>
              <% unless @upload.nil? %>
              <div id="gallery"><%= link_to image_tag (@upload.photo.url(:small)),@upload.photo.url(:original)%> %></div>
              <% end %>
            </td>
            <td class="table-left-aligned">
              <h3><%= @news_item.title %></h3>
              <%= @news_item.news_date %><br />
              <%= @news_item.description %>
              <% if current_user and current_user.is_admin %>
              <%= link_to 'Edit', edit_news_item_path(@news_item) %> |
              <%= link_to 'Back', news_items_path %>
              <% end %>

            </td>
          </tr>
        </table>
</div>

