<br />

<div class="clear"></div>
<div class="button"><%= link_to 'All',news_items_path %></div>
<div align="center">
    <div class="white_bordered_div">
        <table style="text-align:center;margin:auto;">
          <tr>
            <td>
              <% @upload = @news_item.news_uploads.first %>
              <% unless @upload.nil? %>
              <div id="gallery"><%= link_to image_tag (@upload.photo.url(:small)),@upload.photo.url(:original)%></div>
              <% else %>
              <%= image_tag 'no_image.jpg',:size=>'100' %>
              <% end %>
            </td>
            <td class="table-left-aligned">
              <h3><%= @news_item.title %></h3>
              <%= @news_item.news_date.strftime("%d/%m/%Y") %><br />
              <%= @news_item.description %>
              <% if current_user and current_user.is_admin %>
              <%= link_to image_tag ('edit.png'), edit_news_item_path(@news_item) %>

              <% end %>

            </td>
          </tr>
        </table>
        <br /><br /><br />
    </div>
</div>

