<div align="right" ><%=link_to 'New alert', new_alert_path %></div>
<div align="center">
<h3>Alerts</h3>
<table align="center">

  <tr>
  <th>Title</th><th>Description</th><th>Date</th><th>Image</th><th></th><th></th><th></th>
  </tr>

<% @alerts.each do |alert| %>
  <tr>
    <td><%= alert.title %></td>
    <td><%= alert.description %></td>
    <td><%= alert.alert_date %></td>
    <% @upload = alert.alert_uploads.first %>
    <td><%unless @upload.nil?  %>
          <%= image_tag @upload.photo.url(:thumb) %>
         <% else %>
         'No Image'
         <% end %>
    </td>
    <td><%= link_to image_tag('edit.png'), edit_alert_path(alert) %></td>
    <td><%= link_to image_tag('delete.png'), alert, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

