<div class='button'><%= link_to 'All', districts_path %>
<h3>Edit district</h3>

<% form_for(@district) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> :
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update',:class=>'button_new' %>
  </p>
<% end %>

