<div class='button'><%= link_to 'All', countries_path %>
<h3>New country</h3>

<% form_for(@country) do |f| %>
  <%= flash[:notice]%>

  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create',:class=>'button_new' %>
  </p>
<% end %>

