<h1>New country</h1>

<% form_for(@country) do |f| %>
  <%= flash[:notice]%>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', countries_path %>

