<div class="button"><%= link_to 'Back', posts_path%></div>
<h3>New post</h3>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> : &nbsp;&nbsp;&nbsp;
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create',:class=>'button_new' %>
  </p>
<% end %>

