<table align="center">
<tr>
  <td><%= form.label :title %></td>
  <td><%= form.text_field :title %>
  <%= form.hidden_field :user_id,:value=>current_user.id %>
  </td>
  <% unless @gallery.new_record?  %>
     <td rowspan="5" valign="top" align="center"><%= image_tag @gallery.photo.url(:thumb)%></td>
  <% end %>

</tr>
<tr>
  <td><%= form.label :description %></td>
  <td><%= form.text_area :description,:size=>'35x5' %>
  </td>
</tr>
<tr>
  <td><%= form.label :tags %></td>
  <td><%#= form.text_field :tags %>
  <%= text_field_with_auto_complete :gallery, :tags %>
  </td>
  <td><% Gallery.find(:all).each do |g|%>
              <%= g.tags %> -
      <%end%>
  </td>
</tr>
<tr>
  <td><%= form.label 'Upload Image' %></td>
  <td>  <%= form.file_field :photo%>
 </td>
</tr>
<tr>
  <td><%= form.label :public %></td>
  <td><%= form.check_box :public%>
  </td>
</tr>
</table>

