<div class="button"><%= link_to 'Back', :controller => 'galleries', :action => 'gallery_all'%></div>
<div align="center">
<h3>Editing gallery</h3>

<% form_for @gallery,:html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update',:class=>'button_new' %>
  </p>
<% end %>
</div>
<%= link_to image_tag('delete.png'), @gallery, :confirm => 'Are you sure?', :method => :delete %>
<%#= link_to 'Delete', {:controller => "galleries", :action => "destroy", :method => :delete, :id => @gallery.id,:confirm => 'Delete ?' }%>
<%#= link_to 'Back', galleries_path %>

