&nbsp;<div align="center">
<h3>Login</h3>

<% form_for @user_session, :url => user_session_path do |f| %>

  <%= f.error_messages %>
  <table align="center">
      <tr>
          <td><%= f.label :email %></td>
          <td><%= f.text_field :email %></td>
      </tr>
      <tr>
          <td><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
      </tr>
      <tr>
      <td colspan="2"><%= f.submit "Login" %>&nbsp;&nbsp;<%= link_to 'Forgot Password?',:controller=>'password_resets',:action=>'new'%></td>
      </tr>
  </table>

<% end %>

</div>

<br /><br /><br /><br />

