<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <% title = 'Family Tree: ' + controller.controller_name.capitalize + ': ' + controller.action_name.capitalize + (yield :title).to_s %><title><%= title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'family' %>
  <%= javascript_include_tag :defaults %>

    <!-- Arquivos utilizados pelo jQuery lightBox plugin -->

    <%= javascript_include_tag 'js/jquery' %>
    <%= javascript_include_tag 'js/jquery.lightbox-0.5' %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5"%>
    <!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->

    <!-- Ativando o jQuery lightBox plugin -->
    <script type="text/javascript">
    $.noConflict();

    jQuery(function() {
        jQuery('#gallery a.slide').lightBox();
    });
    </script>


</head>
<body>

<div id="background_2">
<div style="text-align:right;font-size:20px;">
  <h1>Mannekattil Kudumbam</h1>
  <h5>The Family Web Site&nbsp;&nbsp;&nbsp;</h5>
</div>
<div style="clear:both;height:0px;width:0px;overflow:hidden;"></div>



    <% flash.each do |key,value| %>
        <div  id="flash" class="flash_<%= key %>" >
        <p><%= value %></p>
        </div><!-- end  flash   -->
    <% end -%>

<br /><br />


          <div class="login">
                          <% if current_user -%>
                              <%= link_to "Logout",logout_path -%>
                              <div class="logged_in_user"><%=Member.find_by_user_id(current_user).name if Member.find_by_user_id(current_user) %></div>
                          <% else -%>
                              <%= link_to "Login",login_path -%>
                          <% end -%>

          </div>


<br /><br />
<br /><br />

<div id="menu_container">
   <div id="menu">
    <%= render :partial=>'home/menu' %>
   </div>
</div>
<div style="clear:both;height:0px;width:0px;overflow:hidden;"></div>

<div class="full_width_div">
  <%= yield :layout %>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="footer_spacing"></div>
  <div style="clear:both;"></div>
  <div id="footer_image"></div>
  <div id="footer">All rights reserved &nbsp;&nbsp;&nbsp;&copy;Mannekattil.com - <br /><%= link_to "Contact us", contact_us_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Guidelines", guidelines_path %></div>
</div>


<div id="church_image"></div>
<div id="saint_image"></div>


</div>
</body>
</html>

