<table align="center">
<tr>
  <td><%= form.label :name %></td>
  <td><%= form.text_field :name %>
  <%= form.hidden_field :created_by,:value=>current_user.id %>
  </td>
</tr>
<tr>
  <td><%= form.label :email %></td>
  <td><%= form.text_field :email %></td>
</tr>
<tr>
  <td><%= form.label 'Family' %></td>
  <td><%= form.select("family_id", Family.all.collect {|family| [ family.name, family.id ] }, {:include_blank => 'Select...'})%></td>
</tr>
<tr>
  <td><%= form.label :house_name %></td>
  <td><%= form.text_field :house_name %></td>
</tr>
<tr>
  <td><%= form.label :house_number %></td>
  <td><%= form.text_field :house_number %></td>
</tr>
<tr>
  <td><%= form.label :street %></td>
  <td><%= form.text_field :street %></td>
</tr>
<tr>
  <td><%= form.label :place %></td>
  <td><%= form.text_field :place %></td>
</tr>
<tr>
  <td><%= form.label :pin %></td>
  <td><%= form.text_field :pin %></td>
</tr>
<tr>
  <td><%= form.label :phone %></td>
  <td><%= form.text_field :phone %></td>
</tr>
<tr>
  <td><%= form.label :mobile %></td>
  <td><%= form.text_field :mobile %></td>
</tr>
<tr>
  <td><%= form.label 'District' %></td>
  <td><%= form.select("district_id", District.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select...'})%></td>
</tr>
<tr>
  <td><%= form.label 'State' %></td>
  <td><%= form.select("state_id", State.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select...'})%></td>
  <tr>
  <td><%= form.label 'Country' %></td>
  <td><%= form.select("country_id", Country.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select...'})%></td>
</tr>
<tr>
  <td><%= form.label 'Upload Photo' %></td>
  <td>  <%= form.file_field :photo%>
 </td>
</tr>

<% if @member.user_id.nil? %>
<% fields_for :user do |user_form|%>
<tr>
  <td>Enable Signing In</td>
  <td><%= check_box_tag 'enable_sign_in',1,false,:onclick=>'display_user_details();' %></td>
</tr>
<tr>
  <td>Email</td>
  <td><%= user_form.text_field :email %>
  <%= user_form.hidden_field :created_by,:value=>current_user.id %>
  </td>
</tr>
<% end %>
<% end %>
</table>

