<br />

<div align="center">
<div>
<%= @member.name %><br />
<% unless @member.photo_file_name.nil? %>
  <%= link_to image_tag(@member.photo.url(:thumb)),member_path(@member.id)%>
<% end %>
</div>
<% form_tag '/members/assign_post',:method=>'post' do %>
<%= select_tag('post_id', "<option value='no_post'>-Select .....</option><option value="">Ordinary Member</option>"  + options_from_collection_for_select(@posts, :id, :name,@member.post_id)) %><br /> <br />
<%= hidden_field_tag 'member_id',@member.id %>
<%= submit_tag 'Assign',:name=>'assign' %>
<% end %>
</div>

