<div align="center">


    <h3>Committee Members</h3>
    <table align="center">

<tr>
 <% @members.each do |member| %>

  <td>
    <%= member.post.name %><br />
    <% unless member.photo_file_name.nil? %>
    <%= image_tag member.photo.url(:thumb) %>&nbsp;&nbsp;<br />
    <% else %>
    <%= image_tag 'default_big.jpg' %>&nbsp;&nbsp;<br />
    <% end %>
    <%= member.name %>

  </td>


<% end %>
</tr>
</table>
</div>
<br /><br />
<div style="width:80%;text-align:justify">
  <%#= @content_management.description[0..@content_management.no_of_chars] %>
  <%= @content_management.description if @content_management %>

</div>

