<div class="page_container">


    <h3>Committee Members</h3>

    <% l1 = 1 %>

    <% @members.each do |member| %>

    <div class ="committe_photo_div" style="<%= l1 == member.post.level ? 'float:left' : 'clear:all;' %>;">
      <%= image_tag member.photo.url(:thumb) %><br />
      <%= member.name %><br />
      <%= member.post.name %>
    </div>

    <% l1 = member.post.level %>
    <% end %>



<div class="general_description_right">
  <%#= @content_management.description[0..@content_management.no_of_chars] %>
  <%= @content_management.description %>

</div>







</div>

