<br />

<div class="button"><%= link_to 'All',members_path %></div>
<table align="center">
<tr>

<td>
<div align="center">
<% if params[:relation].blank? %>
<h3>Editing member</h3>
<% else %>
  <% if params[:relation_name] %>
          <% case params[:relation_name].upcase
                when 'FATHER'
                   relation = 'Father'
                when 'MOTHER'
                  relation = 'Mother'
                when 'SIBLING'
                  relation = 'Sibling'
                when 'CHILDREN'
                  relation = 'Children'
                when 'SPOUSE'
                  relation = 'Spouse'
            end %>
    <% if Member.find_by_id(session[:member_id])%>
      <h3>Add <%= params[:relation_name]%> of <%= Member.find_by_id(session[:member_id]).name %> </h3>
    
  <% end end end %>
<%= form_for @member, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= error_messages_for 'user'%>
<%= render :partial => "members/form", :object => f %>
<%if current_user  %>
  <p>
    <div class='button'><%= f.submit 'Update'%></div>

  </p>
<% end %>
<%= fields_for :relation do |rf| %>
<%= rf.hidden_field :user_id,:value=>session[:member_id]%>
<%= rf.hidden_field :relation_id,:value=>session[:relation_id]%>
<%= hidden_field_tag 'relation_name',session[:relation_name]%>
<% end %>
<% end %>
</div>
</td>
<td  valign="top"><br /><br /><br /><div class="photo_frame"><%= display_photo_of_member(@member,@member.name,"120px;")%></div></td>
</tr>
</table>

