<br />
<% if current_user and @member.user_id == current_user.id %>
  <div align="right">
    <%= link_to 'Change password',:controller=>'password_resets',:action=>'change_password' %>
  </div>
<% end %>
<div align="center">
<% if session[:relation_name].blank? %>
<h3>Editing member</h3>
<% else %>
  <% if params[:relation_name] %>
  <% case params[:relation_name].upcase
  when 'FATHER'
     relation = 'Father'
  when 'MOTHER'
    relation = 'Mother'
  when 'SIBLING'
    relation = 'Sibling'
  when 'CHILDREN'
    relation = 'Children'
  when 'SPOUSE'
    relation = 'Spouse'

  end %>
<h3>Add <%= params[:relation_name]%> of <%= Member.find_by_id(session[:member_id]).name %> </h3>
<% end end %>
<% form_for @member, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= error_messages_for 'user'%>
<%= render :partial => "members/form", :object => f %>
  <p>
    <%= f.submit 'Update' %> &nbsp;<%= link_to 'Back',member_path(@member.id) %>

  </p>
<% fields_for :relation do |rf| %>
<%= rf.hidden_field :user_id,:value=>session[:member_id]%>
<%= rf.hidden_field :relation_id,:value=>session[:relation_id]%>
<%= hidden_field_tag 'relation_name',session[:relation_name]%>
<% end %>
<% end %>
</div>

