 <br />

<div class="page_container">
<h3>Members</h3>
 <table align="center">
    <tr>
      <td><%- form_tag members_path, :method => :get do -%>
        <strong>Search:</strong>
        <%= text_field_tag :search_text,'',:value=>params[:search_text] %>
        <%= submit_tag "Search", :name => 'search' %>
        <% end %></td>
      </tr>
  </table><br />
<% unless @members.blank? %>
<table align="center">
  <tr><th>Name</th><th>House</th></tr>

<% @members.each do |member| %>
  <tr>

    <td><%= member.name %></td>
    <td><%#= member.user.email unless member.user.nil? %><%= member.house_name %></td>
    <td><%#= image_tag member.photo.url(:small)%></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Add Relations', :controller=>'relations',:action=>'index',:id=>member.id %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
  <p>No Records Found</p>
<% end %>
</div>
<%= link_to 'New Member',new_member_path %>

