<%= include_wice_grid_assets %>
<div align="right" ><%= link_to 'New Member',new_member_path %></div>
<div align="center">
<h3>Members</h3>
 <table align="center">
    <tr>
      <td><%- form_tag members_path, :method => :get do -%>
        <strong>Search:</strong>
        <%= text_field_tag :search_text,'',:value=>params[:search_text] %>
        <%= submit_tag "Search", :name => 'search' %>
        <% end %></td>
      </tr>
  </table><br />
<% unless @members.blank? %>
<div align="center">
  <%= grid(@members) do |g|

    g.column :column_name => 'Name',:attribute_name => 'name',:no_filter => true do  |member|
      link_to member.name ,member_path(member.id)
    end

    g.column :column_name => 'House' ,:attribute_name => 'house_name',:no_filter => true do |member|
      member.house_name
    end

    if current_user and current_user.is_admin?
        g.column :column_name => 'Post',:attribute_name => 'name',:no_filter => true,:model_class => Post do |member|
          link_to member.post ? member.post.name: 'Ordinary member', :controller=>'members',:action=>'assign_post',:id=>member.id
        end
    else
         g.column :column_name => 'Post' do |member|
            member.post ? member.post.name: 'Ordinary member'
        end
    end

    g.column do |member|
      link_to image_tag('edit.png'), edit_member_path(member)
    end
    g.column do |member|
      link_to image_tag('delete.png'), member, :confirm => 'Are you sure?', :method => :delete
    end


  end -%>
 </div>
<% else %>
  <p>No Records Found</p>
<% end %>
</div>

