<div align="right" ><%= link_to 'New Member',new_member_path %></div>
<div align="center">
<h3>Members</h3>
 <table align="center">
    <tr>
      <td><%- form_tag members_path, :method => :get do -%>
        <strong>Search:</strong>
        <%= text_field_tag :search_text,'',:value=>params[:search_text] %>
        <%= submit_tag "Search", :name => 'search' %>
        <% end %></td>
      </tr>
  </table><br />
<% unless @members.blank? %>

<div align="center">
<table>
<% @members.each do |member| %>
<tr>
<td><%=link_to member.name ,member_path(member.id)%></td>
<td><%= member.house_name %></td>

<%if current_user and current_user.is_admin? %>
<td><%=link_to member.post ? member.post.name: 'Ordinary member', :controller=>'members',:action=>'assign_post',:id=>member.id%></td>
<% else %>
<td><%=member.post ? member.post.name: 'Ordinary member'%></td>
<%  end -%>
<td><%=link_to image_tag('edit.png'), edit_member_path(member)%></td>
<td><%=link_to image_tag('delete.png'), member, :confirm => 'Are you sure?', :method => :delete%></td>

</tr>
<% end %>
</table>
<%= will_paginate @members %>

 </div>
<% else %>
  <p>No Records Found</p>
<% end %>
</div>

