<!-- PARENTS -->
  <div style="width:100%;text-align:center;margin:auto;">
    <div style="text-align:center;margin:auto;height:85px;width:300px;">
        <div class="father">
        <% if @related_member = @member.find_relation(FATHER) %>
          <%=link_to image_tag (@related_member.photo(:small), :size => "50x70", :crop => true, :title => @related_member.name ), member_path(@related_member.id) %>
        <% else %>
        <% form_tag "/relations/add_relation" ,:method=>'post'  do  %>
          <%= hidden_field_tag 'user_id',@member.id %>
          <%= hidden_field_tag 'relation_id',FATHER %>
          <%= hidden_field_tag 'relation_name',"Father" %>
          <%= submit_tag 'Father' %>

        <% end %>
        <% end %>
        </div>
        <div class="connect">&nbsp;</div>
         <div class="mother">
        <% if @related_member = @member.find_relation(MOTHER) %>

           <%#= link_to @related_member.name,member_path(@related_member.id) %>
           <%=link_to image_tag (@related_member.photo(:small), :size => "50x70", :crop => true,  :title => @related_member.name ), member_path(@related_member.id) %>
           <% else %>
        <% form_tag "/relations/add_relation" ,:method=>'post'  do %>
          <%= hidden_field_tag 'user_id',@member.id %>
          <%= hidden_field_tag 'relation_id',MOTHER %>
          <%= hidden_field_tag 'relation_name',"Mother" %>
          <%= submit_tag 'Mother' %>

        <% end %>
        <% end %>

        </div>
        <div class="space">&nbsp;</div>
    </div>
  </div>
<div style="clear:both;"></div>
<!-- SELF -->

  <div style="width:100%;text-align:center;margin:auto;">
    <div style="text-align:center;margin:auto;height:85px;width:625px;">
        <div class="siblings">
          <%  @related_members = @member.find_siblings_or_childerens(SIBLINGS) %>
            <% unless @related_members.blank? %>
             <% @related_members.each do |related_member| %>
              <% @member_rel = Member.find_by_id(related_member.related_user_id)  %>
              <%#= link_to @member_rel.name,member_path(@member_rel.id) %>
                  <%=link_to image_tag (@member_rel.photo(:small), :size => "50x70", :crop => true,  :title => @member_rel.name ), member_path(@member_rel.id) %>
             <% end %>
           <%#= link_to @related_member.name,member_path(@related_member.id) %>
           <%# else %>
          <% end %>
        <% form_tag "/relations/add_relation" ,:method=>'post'  do %>
          <%= hidden_field_tag 'user_id',@member.id %>
          <%= hidden_field_tag 'relation_id',SIBLINGS %>
          <%= hidden_field_tag 'relation_name',"Sibling" %>
          <%= submit_tag 'Siblings' %>

        <%# end %>
        <% end %>
        </div>
        <div class="self"><%=link_to image_tag (@member.photo(:small), :size => "50x70", :crop => true, :title => @member.name ), member_path(@member) %>&nbsp;</div>
        <div class="connect">&nbsp;</div>
        <div class="spouse">
          <% if @related_member = @member.find_relation(SPOUSE) %>

           <%#= link_to @related_member.name,member_path(@related_member.id) %>
           <%=link_to image_tag (@related_member.photo(:small), :size => "50x70", :crop => true,  :title => @related_member.name ), member_path(@related_member.id) %>
           <% else %>
        <% form_tag "/relations/add_relation" ,:method=>'post'  do %>
          <%= hidden_field_tag 'user_id',@member.id %>
          <%= hidden_field_tag 'relation_id',SPOUSE %>
          <%= hidden_field_tag 'relation_name',"Spouse" %>
          <%= submit_tag 'Spouse' %>

        <% end %>
        <% end %>

        </div>
        <div class="siblings">&nbsp;</div>
    </div>
  </div>
<div style="clear:both;"></div>
<!-- CHILDREN -->

  <div style="width:100%;text-align:center;margin:auto;">
    <div style="text-align:center;margin:auto;height:85px;width:625px;border:1px solid white;">

      <%  @related_members = @member.find_siblings_or_childerens(CHILDREN) %>
           <% unless @related_members.blank? %>
             <% @related_members.each do |related_member|  %>
              <% @member_rel = Member.find_by_id(related_member.related_user_id) unless @related_members.blank? %>
              <%#= link_to @member_rel.name,member_path(@member_rel.id) %><br />
              <%=link_to image_tag (@member_rel.photo(:small), :size => "50x70", :crop => true,  :title => @member_rel.name ), member_path(@member_rel.id) %>
             <% end %>
            <% end %>
           <%#= link_to @related_member.name,member_path(@related_member.id) %>
           <%# else %>
        <% form_tag "/relations/add_relation" ,:method=>'post'  do %>
          <%= hidden_field_tag 'user_id',@member.id %>
          <%= hidden_field_tag 'relation_id',CHILDREN %>
          <%= hidden_field_tag 'relation_name',"Children" %>
          <%= submit_tag 'Children' %>
        <% end %>
        <%# end %>

    </div>
  </div>


</div>





<br /><br /><br /><br /><br /><br /><br /><br /><br />

