<div class="button"><%= link_to 'Back',session[:return_uri] %></div>

  <div class="full_width_div">
    <div id = "parents_inner_div">    
        <div class="father">
        <% if @related_member = @member.father %>
              <%= display_photo_of_member(@related_member,@related_member.name)%>
              <%# unless @related_member.photo_file_name.nil? %>
                <%#=link_to image_tag(@related_member.photo(:small), :height => "50", :title => @related_member.name ), member_path(@related_member.id) %>
              <%# else %>
                <%#=link_to @related_member.name, member_path(@related_member.id) %>
              <%# end %>
        <% else %>
            <% if current_user %>
              <%= form_tag "/relations/add_relation" ,:method=>'post'  do  %>
                <%= hidden_field_tag 'user_id',@member.id %>
                <%= hidden_field_tag 'relation_id',PARENT%>
                <%= hidden_field_tag 'relation_name',"Father" %>
                <%= submit_tag 'Father', :class => "tree_button" %>
              <% end %>
            <% else %>
              <div class="tooltip" title ="Please login to enter  details of Father.">Father</div>
            <% end %>
        <% end %>
        </div>   
        <div class="connect">&nbsp;</div>
         <div class="mother">
        <% if @related_member = @member.mother %>
            <%= display_photo_of_member(@related_member,@related_member.name)%>
            <%# unless @related_member.photo_file_name.nil? %>
              <%#=link_to image_tag(@related_member.photo(:small), :height => "50", :crop => true,  :title => @related_member.name ), member_path(@related_member.id) %>
            <%# else %>
              <%#= link_to @related_member.name,member_path(@related_member.id) %>
            <%# end %>
        <% else %>
        <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',PARENT %>
            <%= hidden_field_tag 'relation_name',"Mother" %>
            <%= submit_tag 'Mother', :class => "tree_button"  %>
          <% end %>
        <% else %>
          <div class="tooltip" title ="Please login to enter  details of mother.">Mother</div>

        <% end %>
        <% end %>

        </div>    
        <div class="space">&nbsp;</div>
    </div>
  </div>
<div style="clear:both;"></div>


  <div class="full_width_div">
    <div style="text-align:center;margin:auto;height:85px;width:99%;" id = "one">
    <div style="text-align:center;margin:auto;height:85px;width:1000px;margin-left:280px;" id = "two">
        <div class="siblings">
        <% if @member.father or @member.mother%>
          <%  @related_members = @member.find_brothers_or_sisters %>
            <% unless @related_members.blank? %>
             <% @related_members.each do |related_member| %>
              <% @member_rel = Member.find_by_id_and_gender_id(related_member.user_id,MALE)  %>
                <% if @member_rel %>
                  <%= display_photo_of_member(@member_rel,@member_rel.name)%>
                  <%# if @member_rel.photo_file_name %>
                  <%#=link_to image_tag(@member_rel.photo(:small), :height => "50", :crop => true,  :title => @member_rel.name ), member_path(@member_rel.id) %>
                  <%# else %>
                   <%#= link_to @member_rel.name,member_path(@member_rel.id) if @member_rel %>
                  <%# end %>
                <% end %>
             <% end %>


          <% end %>
        <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',PARENT %>
            <%= hidden_field_tag 'relation_name',"Brothers" %>
            <%= submit_tag 'Brothers' %>
          <% end %>
        <% else %>
          <span title="Login to enter details of Brother(s)">Brother(s)</span>
        <% end %>
        <% else %>
          Please enter father/mother's details before entering sisters.
        <% end %>
        </div>  
        <div class="self" title=<%= @member.name %>>
        <%if @member.photo_file_name %>
            <% if current_user and current_user.id == @member.user_id %>
              <%=link_to image_tag(@member.photo(:small), :height => "70", :crop => true, :title => @member.name ), edit_member_path(@member) %>&nbsp;
            <% else %>
              <%= link_to image_tag(@member.photo(:small), :height => "70", :crop => true, :title => @member.name ),:controller=>'members',:action=>'display_details',:id=>@member.id %>&nbsp;
            <% end %>
        <% else %>
        <% if current_user and current_user.id == @member.user_id %>
          <%#=link_to @member.name,edit_member_path(@member) ,:title => @member.name%>
              <% if @member.gender_id == MALE %>
              <%= link_to(image_tag('default_big.jpg', :height=>"30px;",:title=>@member.name) , edit_member_path(@member)) %> 
              <% else%>
              <%= link_to(image_tag('default_big_female.jpg', :height=>"30px;",:title=>@member.name) , edit_member_path(@member)) if @member.gender_id == FEMALE%> 
              <% end %>        
        <% else %>
              <%#= @member.name %>
              <% if @member.gender_id == MALE %>
              <%= link_to image_tag('default_big.jpg', :height=>"30px;",:title=>@member.name),:controller=>'members',:action=>'display_details',:id=>@member.id%>
              <% else%>
              <%= link_to image_tag('default_big_female.jpg', :height=>"30px;",:title=>@member.name),:controller=>'members',:action=>'display_details',:id=>@member.id%>
              <% end %>

       <% end %>
        <% end %>

        </div>  
        <div class="connect">&nbsp;</div>
        <div class="spouse">
          <% if @related_member = @member.find_spouse %>
          <%= display_photo_of_member(@related_member,@related_member.name)%>
            <%# if @related_member.photo_file_name %>
               <%#=link_to image_tag(@related_member.photo(:small), :height => "70", :crop => true,  :title => @related_member.name ), member_path(@related_member.id) %>
            <%# else %>
              <%#= link_to @related_member.name,member_path(@related_member.id),  :title => @related_member.name %>
           <%# end %>
           <%#=link_to image_tag (@related_member.photo(:small), :size => "50x70", :crop => true,  :title => @related_member.name ), member_path(@related_member.id) %>
           <% else %>
       <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',SPOUSE %>
            <%= hidden_field_tag 'relation_name',"Spouse" %>
            <%= submit_tag 'Spouse' %>
          <% end %>
        <% else %>
          Spouse
        <% end %>
        <% end %>

        </div>
        <div class="siblings">
        <%#  @related_members = @member.find_brothers_or_sisters %>
        <% if @member.father or @member.mother %>
           <% unless @related_members.blank? %>
             <% @related_members.each do |related_member| %>
              <% @member_rel = Member.find_by_id_and_gender_id(related_member.user_id,FEMALE)  %>
                 <% if @member_rel %>
                  <%= display_photo_of_member(@member_rel,@member_rel.name)%>
                  <%# if @member_rel.photo_file_name %>
                  <%#=link_to image_tag(@member_rel.photo(:small), :height => "50", :crop => true,  :title => @member_rel.name ), member_path(@member_rel.id) %>
                  <%# else %>
                   <%#= link_to @member_rel.name,member_path(@member_rel.id) if @member_rel %>
                  <%# end %>
                <% end %>

             <% end %>


          <% end %>
        <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',PARENT %>
            <%= hidden_field_tag 'relation_name',"Sisters" %>
            <%= submit_tag 'Sisters', :class => "tree_button"  %>
        <% end %>
        <% else %>
          <span title="Login to enter details of sister">Sister(s)</span>
        <% end %>
        <% else %>
        Please enter father/mother's details before entering sisters
        <% end %>



        </div>
    </div>
  </div>
  </div>
<div style="clear:both;"></div>


  <div class="full_width_div"> 
    <div style="text-align:center;margin:auto;height:85px;width:<%= (@member.daughters.size + @member.sons.size)*30 + 150 %>px;">
    <div style="height:80px;border:solid #c8d6de 1px;text-align:center;">  
      <%  @related_members = @member.daughters %>
           <% unless @related_members.blank? %>
             <% @related_members.each do |related_member|  %>
                <%= display_photo_of_member(related_member,related_member.name) -%>
             <%- end -%>
            <%- end -%>
        <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',PARENT %>
            <%= hidden_field_tag 'relation_name',"Daughters" %>
            <%= submit_tag 'Daughters', :class => "tree_button"  %>
          <% end %>
       <% else %>
          <span title="Login to enter details of Daughter(s)">Daughter(s)</span>
        <% end %>
    </div>                                 

    <div style="float:left;height:80px;border:solid #c8d6de 1px;text-align:center;" class="sons_div_new">   

     <%  @related_members = @member.sons %>
           <% unless @related_members.blank? %>
            <% @related_members.each do |member_rel| %>
            <%= display_photo_of_member(member_rel,member_rel.name)%>
            <% end %>
            <% end %>
        <% if current_user %>
          <%= form_tag "/relations/add_relation" ,:method=>'post'  do %>
            <%= hidden_field_tag 'user_id',@member.id %>
            <%= hidden_field_tag 'relation_id',PARENT %>
            <%= hidden_field_tag 'relation_name',"Sons" %>
            <%= submit_tag 'Sons', :class => "tree_button"  %>
          <% end %>
       <% else %>
          <span title="Login to enter details of Son">Son (s)</span>
        <% end %>
      </div>  




  </div>  
</div> 
<br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

